
<div class="container">
  <div class="row">
      <div class="">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <app-button buttonName="One Post"></app-button>
                  <span class="glyphicon glyphicon-list"></span>Sortable Lists
              </div>
              <div class="panel-body">
                 <div class="card">
                   <div class="card-header">
                     <label>Title:</label>
                      {{ post.title }}
                   </div>
                   <div class="card-body">
                      <label>Body:</label>
                     {{ post.body }}
                   </div>
                 </div>
          </div>
      </div>
  </div>
</div>